<h1>Teams</h1>

<h4 ng-hide="tableLoaded">Loading...</h4>
<h4 ng-show="tableLoaded"><a href="#">Back</a></h4>

<table class="table table-striped table-condensed table-responsive" ng-show="tableLoaded">
    <thead>
        <tr>
            <th>Pos.</th>
            <th>Team</th>
            <th>Pts.</th>
            <th>Matches</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Goals</th>
            <th>Goals against</th>
            <th>Goals difference</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="team in table | orderBy:'name'">
            <td>{{team.position}}</td>
            <td><img ng-src="{{team.crestURI}}" class="teamCrestImg"/><a href="">{{team.teamName}}</a></td>
            <td>{{team.points}}</td>
            <td>{{team.playedGames}}</td>
            <td>{{team.wins}}</td>
            <td>{{team.losses}}</td>
            <td>{{team.draws}}</td>
            <td>{{team.goals}}</td>
            <td>{{team.goalsAgainst}}</td>
            <td>{{team.goalDifference}}</td>
        </tr>
    </tbody>
</table>
